In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'/Users/sanju/Documents/DS/ML /ML Projects/Food Delivery Time Prediction End to End Project/ notebook'

In [3]:
train_data=pd.read_csv('/Users/sanju/Documents/DS/ML /ML Projects/Food Delivery Time Prediction End to End Project/data/train.csv')
test_data=pd.read_csv("/Users/sanju/Documents/DS/ML /ML Projects/Food Delivery Time Prediction End to End Project/data/test.csv")

In [4]:
train_data["label"]="Train"
test_data["label"]="Test"

In [5]:
train_data.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weatherconditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken(min)', 'label'],
      dtype='object')

In [6]:
len(train_data.columns)

21

In [7]:
train_data['Time_taken(min)']

0        (min) 24
1        (min) 33
2        (min) 26
3        (min) 21
4        (min) 30
           ...
45588    (min) 32
45589    (min) 36
45590    (min) 16
45591    (min) 26
45592    (min) 36
Name: Time_taken(min), Length: 45593, dtype: object

In [8]:
test_data.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weatherconditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'label'],
      dtype='object')

In [9]:
len(test_data.columns)

20

In [10]:
test_data['Time_taken(min)']=np.NaN

In [11]:
test_data.head(1)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,label,Time_taken(min)
0,0x2318,COIMBRES13DEL01,NaN,NaN,11.003669,76.976494,11.043669,77.016494,30-03-2022,NaN,...,conditions NaN,NaN,3,Drinks,electric_scooter,1,No,Metropolitian,Test,NaN

In [12]:
df=pd.concat([train_data,test_data],axis=0)

In [13]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,...,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24,Train
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,...,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33,Train
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,...,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26,Train
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,...,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21,Train
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,...,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30,Train

In [14]:
df.rename(columns={"Time_taken(min) ":"Time_taken"},inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56992 entries, 0 to 11398
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           56992 non-null  object
 1   Delivery_person_ID           56992 non-null  object
 2   Delivery_person_Age          56992 non-null  object
 3   Delivery_person_Ratings      56992 non-null  object
 4   Restaurant_latitude          56992 non-null  float64
 5   Restaurant_longitude         56992 non-null  float64
 6   Delivery_location_latitude   56992 non-null  float64
 7   Delivery_location_longitude  56992 non-null  float64
 8   Order_Date                   56992 non-null  object
 9   Time_Orderd                  56992 non-null  object
 10  Time_Order_picked            56992 non-null  object
 11  Weatherconditions            56992 non-null  object
 12  Road_traffic_density         56992 non-null  object
 13  Vehicle_condition            56992 non-null  int64
 14  Type_of_order                56992 non-null  object
 15  Type_of_vehicle              56992 non-null  object
 16  multiple_deliveries          56992 non-null  object
 17  Festival                     56992 non-null  object
 18  City                         56992 non-null  object
 19  Time_taken(min)              45593 non-null  object
 20  label                        56992 non-null  object
dtypes: float64(4), int64(1), object(16)
memory usage: 9.6+ MB

In [16]:
df.isnull().sum()

ID                                 0
Delivery_person_ID                 0
Delivery_person_Age                0
Delivery_person_Ratings            0
Restaurant_latitude                0
Restaurant_longitude               0
Delivery_location_latitude         0
Delivery_location_longitude        0
Order_Date                         0
Time_Orderd                        0
Time_Order_picked                  0
Weatherconditions                  0
Road_traffic_density               0
Vehicle_condition                  0
Type_of_order                      0
Type_of_vehicle                    0
multiple_deliveries                0
Festival                           0
City                               0
Time_taken(min)                11399
label                              0
dtype: int64

In [17]:
df.describe()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition
count,56992.000000,56992.000000,56992.000000,56992.000000,56992.000000
mean,17.034171,70.264920,17.486049,70.897002,1.024968
std,8.186784,22.861487,7.325665,21.034559,0.839171
min,-30.905562,-88.400467,0.010000,0.010000,0.000000
25%,12.933284,73.170283,12.989166,73.293329,0.000000
50%,18.551440,75.897429,18.636258,76.002471,1.000000
75%,22.728163,78.045359,22.785536,78.107053,2.000000
max,30.914057,88.433452,31.054057,88.563452,3.000000

In [18]:
df.drop(["ID","Delivery_person_ID"],axis=1,inplace=True)

In [19]:
df.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
0,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24,Train

In [20]:
df.shape

(56992, 19)

In [21]:
df[df["Delivery_person_Age"]=='NaN ']

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
42,NaN,NaN,19.121999,72.908493,19.201999,72.988493,06-04-2022,NaN,18:35:00,conditions Cloudy,Medium,1,Drinks,scooter,1,No,Metropolitian,(min) 33,Train
74,NaN,NaN,12.935662,77.614130,12.975662,77.654130,11-03-2022,NaN,15:30:00,conditions NaN,NaN,1,Drinks,scooter,0,No,Metropolitian,(min) 19,Train
120,NaN,NaN,22.312790,73.170283,22.422790,73.280283,02-04-2022,NaN,18:25:00,conditions NaN,NaN,3,Snack,electric_scooter,0,No,Metropolitian,(min) 25,Train
140,NaN,NaN,18.543626,73.905101,18.573626,73.935101,09-03-2022,NaN,23:40:00,conditions Stormy,Low,2,Snack,scooter,0,No,NaN,(min) 19,Train
179,NaN,NaN,26.913483,75.803139,26.983483,75.873139,12-03-2022,NaN,17:50:00,conditions Sandstorms,Medium,0,Drinks,motorcycle,0,No,Metropolitian,(min) 43,Train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11268,NaN,NaN,21.171060,72.789292,21.251060,72.869292,04-04-2022,NaN,23:30:00,conditions NaN,NaN,3,Meal,electric_scooter,1,No,NaN,NaN,Test
11337,NaN,NaN,-19.176269,-72.836721,19.306269,72.966721,10-03-2022,NaN,18:45:00,conditions NaN,NaN,3,Snack,bicycle,1,No,Metropolitian,NaN,Test
11343,NaN,NaN,22.761226,75.887522,22.871226,75.997522,18-03-2022,NaN,21:55:00,conditions Sandstorms,Jam,1,Buffet,scooter,1,No,Urban,NaN,Test
11392,NaN,NaN,18.514210,73.838429,18.544210,73.868429,07-03-2022,17:25:00,17:40:00,conditions Cloudy,Medium,0,Meal,motorcycle,0,No,Metropolitian,NaN,Test
11396,NaN,NaN,21.157735,72.768778,21.217735,72.828778,11-03-2022,NaN,21:05:00,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian,NaN,Test

In [22]:
df["Delivery_person_Age"].value_counts()

Delivery_person_Age
35      2809
30      2805
36      2781
37      2776
38      2770
24      2754
28      2748
32      2747
33      2743
29      2739
22      2718
34      2713
26      2704
21      2702
27      2693
20      2691
25      2681
39      2680
31      2655
23      2628
NaN     2345
50        63
15        47
Name: count, dtype: int64

In [23]:
df["Delivery_person_Age"].replace("NaN ",np.nan,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/3571504458.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Delivery_person_Age"].replace("NaN ",np.nan,inplace=True)

In [24]:
df["Delivery_person_Age"].isnull().sum()

2345

In [25]:
df["Delivery_person_Age"].value_counts()

Delivery_person_Age
35    2809
30    2805
36    2781
37    2776
38    2770
24    2754
28    2748
32    2747
33    2743
29    2739
22    2718
34    2713
26    2704
21    2702
27    2693
20    2691
25    2681
39    2680
31    2655
23    2628
50      63
15      47
Name: count, dtype: int64

In [26]:

# df["Delivery_person_Ratings"]=df["Delivery_person_Ratings"].astype(float)

In [27]:
df.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
0,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24,Train

In [28]:
df["Delivery_person_Ratings"].value_counts()

Delivery_person_Ratings
4.8     8938
4.9     8904
4.7     8865
4.6     8603
5       4995
4.5     4146
NaN     2415
4.2     1769
4.3     1750
4.1     1741
4.4     1687
4       1372
3.5      315
3.7      284
3.8      279
3.9      259
3.6      258
6         63
1         47
3.4       44
3.3       38
3.1       37
3.2       36
2.6       34
2.7       29
2.5       28
2.9       26
2.8       22
3          8
Name: count, dtype: int64

In [29]:
df["Delivery_person_Ratings"].replace("NaN ",np.nan,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/2887588998.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Delivery_person_Ratings"].replace("NaN ",np.nan,inplace=True)

In [30]:
# df["Delivery_person_Age"]=df["Delivery_person_Age"].astype(int)
# df["Delivery_person_Ratings"]=df["Delivery_person_Ratings"].astype(float)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56992 entries, 0 to 11398
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          54647 non-null  object
 1   Delivery_person_Ratings      54577 non-null  object
 2   Restaurant_latitude          56992 non-null  float64
 3   Restaurant_longitude         56992 non-null  float64
 4   Delivery_location_latitude   56992 non-null  float64
 5   Delivery_location_longitude  56992 non-null  float64
 6   Order_Date                   56992 non-null  object
 7   Time_Orderd                  56992 non-null  object
 8   Time_Order_picked            56992 non-null  object
 9   Weatherconditions            56992 non-null  object
 10  Road_traffic_density         56992 non-null  object
 11  Vehicle_condition            56992 non-null  int64
 12  Type_of_order                56992 non-null  object
 13  Type_of_vehicle              56992 non-null  object
 14  multiple_deliveries          56992 non-null  object
 15  Festival                     56992 non-null  object
 16  City                         56992 non-null  object
 17  Time_taken(min)              45593 non-null  object
 18  label                        56992 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 8.7+ MB

In [32]:
df["Order_Date"]=pd.to_datetime(df["Order_Date"])

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/544640231.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Order_Date"]=pd.to_datetime(df["Order_Date"])

In [33]:
df[df["Order_Date"]=="NaN "]

Empty DataFrame
Columns: [Delivery_person_Age, Delivery_person_Ratings, Restaurant_latitude, Restaurant_longitude, Delivery_location_latitude, Delivery_location_longitude, Order_Date, Time_Orderd, Time_Order_picked, Weatherconditions, Road_traffic_density, Vehicle_condition, Type_of_order, Type_of_vehicle, multiple_deliveries, Festival, City, Time_taken(min), label]
Index: []

In [34]:
df[df["Time_Orderd"]=="NaN "]

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
42,NaN,NaN,19.121999,72.908493,19.201999,72.988493,2022-04-06,NaN,18:35:00,conditions Cloudy,Medium,1,Drinks,scooter,1,No,Metropolitian,(min) 33,Train
74,NaN,NaN,12.935662,77.614130,12.975662,77.654130,2022-03-11,NaN,15:30:00,conditions NaN,NaN,1,Drinks,scooter,0,No,Metropolitian,(min) 19,Train
120,NaN,NaN,22.312790,73.170283,22.422790,73.280283,2022-04-02,NaN,18:25:00,conditions NaN,NaN,3,Snack,electric_scooter,0,No,Metropolitian,(min) 25,Train
140,NaN,NaN,18.543626,73.905101,18.573626,73.935101,2022-03-09,NaN,23:40:00,conditions Stormy,Low,2,Snack,scooter,0,No,NaN,(min) 19,Train
179,NaN,NaN,26.913483,75.803139,26.983483,75.873139,2022-03-12,NaN,17:50:00,conditions Sandstorms,Medium,0,Drinks,motorcycle,0,No,Metropolitian,(min) 43,Train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11262,15,1,-11.003008,-76.975440,11.093008,77.065440,2022-03-14,NaN,19:00:00,conditions NaN,NaN,3,Meal,electric_scooter,1,No,Urban,NaN,Test
11268,NaN,NaN,21.171060,72.789292,21.251060,72.869292,2022-04-04,NaN,23:30:00,conditions NaN,NaN,3,Meal,electric_scooter,1,No,NaN,NaN,Test
11337,NaN,NaN,-19.176269,-72.836721,19.306269,72.966721,2022-03-10,NaN,18:45:00,conditions NaN,NaN,3,Snack,bicycle,1,No,Metropolitian,NaN,Test
11343,NaN,NaN,22.761226,75.887522,22.871226,75.997522,2022-03-18,NaN,21:55:00,conditions Sandstorms,Jam,1,Buffet,scooter,1,No,Urban,NaN,Test
11396,NaN,NaN,21.157735,72.768778,21.217735,72.828778,2022-03-11,NaN,21:05:00,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian,NaN,Test

In [35]:
df["Time_Orderd"].replace("NaN ",np.nan,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/1311066539.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Time_Orderd"].replace("NaN ",np.nan,inplace=True)

In [36]:
df["Time_Orderd"]=pd.to_datetime(df["Time_Orderd"])

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/4168514986.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Time_Orderd"]=pd.to_datetime(df["Time_Orderd"])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56992 entries, 0 to 11398
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          54647 non-null  object
 1   Delivery_person_Ratings      54577 non-null  object
 2   Restaurant_latitude          56992 non-null  float64
 3   Restaurant_longitude         56992 non-null  float64
 4   Delivery_location_latitude   56992 non-null  float64
 5   Delivery_location_longitude  56992 non-null  float64
 6   Order_Date                   56992 non-null  datetime64[ns]
 7   Time_Orderd                  54817 non-null  datetime64[ns]
 8   Time_Order_picked            56992 non-null  object
 9   Weatherconditions            56992 non-null  object
 10  Road_traffic_density         56992 non-null  object
 11  Vehicle_condition            56992 non-null  int64
 12  Type_of_order                56992 non-null  object
 13  Type_of_vehicle              56992 non-null  object
 14  multiple_deliveries          56992 non-null  object
 15  Festival                     56992 non-null  object
 16  City                         56992 non-null  object
 17  Time_taken(min)              45593 non-null  object
 18  label                        56992 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(1), object(12)
memory usage: 8.7+ MB

In [38]:
df[df["Time_Order_picked"]=="NaN "]

Empty DataFrame
Columns: [Delivery_person_Age, Delivery_person_Ratings, Restaurant_latitude, Restaurant_longitude, Delivery_location_latitude, Delivery_location_longitude, Order_Date, Time_Orderd, Time_Order_picked, Weatherconditions, Road_traffic_density, Vehicle_condition, Type_of_order, Type_of_vehicle, multiple_deliveries, Festival, City, Time_taken(min), label]
Index: []

In [39]:
df["Time_Order_picked"]=pd.to_datetime(df["Time_Order_picked"])

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/1484207326.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Time_Order_picked"]=pd.to_datetime(df["Time_Order_picked"])

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56992 entries, 0 to 11398
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          54647 non-null  object
 1   Delivery_person_Ratings      54577 non-null  object
 2   Restaurant_latitude          56992 non-null  float64
 3   Restaurant_longitude         56992 non-null  float64
 4   Delivery_location_latitude   56992 non-null  float64
 5   Delivery_location_longitude  56992 non-null  float64
 6   Order_Date                   56992 non-null  datetime64[ns]
 7   Time_Orderd                  54817 non-null  datetime64[ns]
 8   Time_Order_picked            56992 non-null  datetime64[ns]
 9   Weatherconditions            56992 non-null  object
 10  Road_traffic_density         56992 non-null  object
 11  Vehicle_condition            56992 non-null  int64
 12  Type_of_order                56992 non-null  object
 13  Type_of_vehicle              56992 non-null  object
 14  multiple_deliveries          56992 non-null  object
 15  Festival                     56992 non-null  object
 16  City                         56992 non-null  object
 17  Time_taken(min)              45593 non-null  object
 18  label                        56992 non-null  object
dtypes: datetime64[ns](3), float64(4), int64(1), object(11)
memory usage: 8.7+ MB

In [41]:
df.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2024-09-05 11:30:00,2024-09-05 11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24,Train

In [42]:
df["multiple_deliveries"].value_counts()

multiple_deliveries
1       35224
0       17586
2        2498
NaN      1231
3         453
Name: count, dtype: int64

In [43]:
df["multiple_deliveries"].replace("NaN ",np.nan,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/2246140089.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["multiple_deliveries"].replace("NaN ",np.nan,inplace=True)

In [44]:
df["multiple_deliveries"].value_counts()

multiple_deliveries
1    35224
0    17586
2     2498
3      453
Name: count, dtype: int64

In [45]:
df["multiple_deliveries"].isnull().sum()

1231

In [46]:
df["multiple_deliveries"].info()

<class 'pandas.core.series.Series'>
Index: 56992 entries, 0 to 11398
Series name: multiple_deliveries
Non-Null Count  Dtype
--------------  -----
55761 non-null  object
dtypes: object(1)
memory usage: 890.5+ KB

In [47]:
df.columns

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weatherconditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken(min)', 'label'],
      dtype='object')

In [48]:
df["Time_taken(min)"].value_counts()

Time_taken(min)
(min) 26    2123
(min) 25    2050
(min) 27    1976
(min) 28    1965
(min) 29    1956
(min) 19    1824
(min) 15    1810
(min) 18    1765
(min) 16    1706
(min) 17    1696
(min) 24    1680
(min) 23    1643
(min) 20    1640
(min) 22    1626
(min) 21    1601
(min) 33    1259
(min) 30    1218
(min) 31    1213
(min) 34    1172
(min) 32    1124
(min) 38     887
(min) 36     852
(min) 39     847
(min) 35     832
(min) 37     828
(min) 11     757
(min) 10     750
(min) 12     746
(min) 14     739
(min) 13     716
(min) 43     567
(min) 42     561
(min) 40     555
(min) 41     553
(min) 44     553
(min) 47     295
(min) 49     280
(min) 48     277
(min) 46     274
(min) 45     241
(min) 53     100
(min) 51      94
(min) 54      91
(min) 52      79
(min) 50      72
Name: count, dtype: int64

In [49]:
df["Time_taken(min)"]

0        (min) 24
1        (min) 33
2        (min) 26
3        (min) 21
4        (min) 30
           ...
11394         NaN
11395         NaN
11396         NaN
11397         NaN
11398         NaN
Name: Time_taken(min), Length: 56992, dtype: object

In [50]:
df["Time_taken(min)"]=df["Time_taken(min)"].str.strip("(min)")

In [51]:
df["Time_taken(min)"].isnull().sum()

11399

In [52]:
df["Time_taken(min)"].value_counts()

Time_taken(min)
26    2123
25    2050
27    1976
28    1965
29    1956
19    1824
15    1810
18    1765
16    1706
17    1696
24    1680
23    1643
20    1640
22    1626
21    1601
33    1259
30    1218
31    1213
34    1172
32    1124
38     887
36     852
39     847
35     832
37     828
11     757
10     750
12     746
14     739
13     716
43     567
42     561
40     555
41     553
44     553
47     295
49     280
48     277
46     274
45     241
53     100
51      94
54      91
52      79
50      72
Name: count, dtype: int64

In [53]:
df["Time_taken(min)"].replace(np.NaN,16,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/1513357585.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Time_taken(min)"].replace(np.NaN,16,inplace=True)

In [54]:
df["Time_taken(min)"].isnull().sum()

0

In [55]:
df["Time_taken(min)"]=df["Time_taken(min)"].astype(int)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56992 entries, 0 to 11398
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          54647 non-null  object
 1   Delivery_person_Ratings      54577 non-null  object
 2   Restaurant_latitude          56992 non-null  float64
 3   Restaurant_longitude         56992 non-null  float64
 4   Delivery_location_latitude   56992 non-null  float64
 5   Delivery_location_longitude  56992 non-null  float64
 6   Order_Date                   56992 non-null  datetime64[ns]
 7   Time_Orderd                  54817 non-null  datetime64[ns]
 8   Time_Order_picked            56992 non-null  datetime64[ns]
 9   Weatherconditions            56992 non-null  object
 10  Road_traffic_density         56992 non-null  object
 11  Vehicle_condition            56992 non-null  int64
 12  Type_of_order                56992 non-null  object
 13  Type_of_vehicle              56992 non-null  object
 14  multiple_deliveries          55761 non-null  object
 15  Festival                     56992 non-null  object
 16  City                         56992 non-null  object
 17  Time_taken(min)              56992 non-null  int64
 18  label                        56992 non-null  object
dtypes: datetime64[ns](3), float64(4), int64(2), object(10)
memory usage: 8.7+ MB

In [57]:
df.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2024-09-05 11:30:00,2024-09-05 11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,24,Train

In [58]:
df.describe()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Vehicle_condition,Time_taken(min)
count,56992.000000,56992.000000,56992.000000,56992.000000,56992,54817,56992,56992.000000,56992.000000
mean,17.034171,70.264920,17.486049,70.897002,2022-03-13 16:37:43.896687360,2024-09-05 17:55:12.603754496,2024-09-05 17:37:49.781723904,1.024968,24.235577
min,-30.905562,-88.400467,0.010000,0.010000,2022-02-11 00:00:00,2024-09-05 00:00:00,2024-09-05 00:00:00,0.000000,10.000000
25%,12.933284,73.170283,12.989166,73.293329,2022-03-04 00:00:00,2024-09-05 15:25:00,2024-09-05 14:35:00,0.000000,16.000000
50%,18.551440,75.897429,18.636258,76.002471,2022-03-15 00:00:00,2024-09-05 19:15:00,2024-09-05 19:10:00,1.000000,22.000000
75%,22.728163,78.045359,22.785536,78.107053,2022-03-27 00:00:00,2024-09-05 21:35:00,2024-09-05 21:35:00,2.000000,30.000000
max,30.914057,88.433452,31.054057,88.563452,2022-04-06 00:00:00,2024-09-05 23:55:00,2024-09-05 23:55:00,3.000000,54.000000
std,8.186784,22.861487,7.325665,21.034559,NaN,NaN,NaN,0.839171,9.348851

In [59]:
categorical_columns = df.select_dtypes(include=['object']).columns

print(categorical_columns)

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Weatherconditions',
       'Road_traffic_density', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'label'],
      dtype='object')

In [60]:
categorical_columns=['Weatherconditions', 'Road_traffic_density', 'Type_of_order',
       'Type_of_vehicle', 'Festival', 'City']

In [61]:
for i in df.columns:
  if df[i].dtypes=="object":
    print(i)
    print(df[i].value_counts())
    print("<<<>>>>"*10)
    print("<<<>>>>"*10)

Delivery_person_Age
Delivery_person_Age
35    2809
30    2805
36    2781
37    2776
38    2770
24    2754
28    2748
32    2747
33    2743
29    2739
22    2718
34    2713
26    2704
21    2702
27    2693
20    2691
25    2681
39    2680
31    2655
23    2628
50      63
15      47
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Delivery_person_Ratings
Delivery_person_Ratings
4.8    8938
4.9    8904
4.7    8865
4.6    8603
5      4995
4.5    4146
4.2    1769
4.3    1750
4.1    1741
4.4    1687
4      1372
3.5     315
3.7     284
3.8     279
3.9     259
3.6     258
6        63
1        47
3.4      44
3.3      38
3.1      37
3.2      36
2.6      34
2.7      29
2.5      28
2.9      26
2.8      22
3         8
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Weatherconditions
Weatherconditions
conditions Fog           9422
conditions Stormy        9397
conditions Cloudy        9397
conditions Sandstorms    9373
conditions Windy         9370
conditions Sunny         9259
conditions NaN            774
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Road_traffic_density
Road_traffic_density
Low        19358
Jam        17646
Medium     13698
High        5535
NaN          755
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Type_of_order
Type_of_order
Snack      14348
Meal       14252
Drinks     14242
Buffet     14150
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Type_of_vehicle
Type_of_vehicle
motorcycle           33044
scooter              19093
electric_scooter      4764
bicycle                 91
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
multiple_deliveries
multiple_deliveries
1    35224
0    17586
2     2498
3      453
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Festival
Festival
No      55600
Yes      1099
NaN       293
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
City
City
Metropolitian     42590
Urban             12669
NaN                1524
Semi-Urban          209
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
label
label
Train    45593
Test     11399
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>

In [62]:
df.tail()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
11394,35,4.6,26.905190,75.810753,27.015190,75.920753,2022-03-27,2024-09-05 21:35:00,2024-09-05 21:45:00,conditions Sunny,Jam,1,Snack,scooter,1,No,Metropolitian,16,Test
11395,33,4.9,26.902940,75.793007,26.912940,75.803007,2022-03-11,2024-09-05 11:40:00,2024-09-05 11:45:00,conditions Sandstorms,High,1,Drinks,scooter,1,No,Metropolitian,16,Test
11396,NaN,NaN,21.157735,72.768778,21.217735,72.828778,2022-03-11,NaT,2024-09-05 21:05:00,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian,16,Test
11397,27,4.7,22.320000,73.170000,22.450000,73.300000,2022-03-06,2024-09-05 18:35:00,2024-09-05 18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0,No,Metropolitian,16,Test
11398,39,5,13.081878,80.248519,13.131878,80.298519,2022-03-24,2024-09-05 22:20:00,2024-09-05 22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1,No,Urban,16,Test

In [63]:
df[df["Weatherconditions"]=="conditions NaN"]

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
74,NaN,NaN,12.935662,77.614130,12.975662,77.654130,2022-03-11,NaT,2024-09-05 15:30:00,conditions NaN,NaN,1,Drinks,scooter,0,No,Metropolitian,19,Train
120,NaN,NaN,22.312790,73.170283,22.422790,73.280283,2022-04-02,NaT,2024-09-05 18:25:00,conditions NaN,NaN,3,Snack,electric_scooter,0,No,Metropolitian,25,Train
250,NaN,NaN,18.536718,73.830327,18.646718,73.940327,2022-03-08,NaT,2024-09-05 21:25:00,conditions NaN,NaN,3,Buffet,motorcycle,1,Yes,Urban,43,Train
348,NaN,NaN,12.935662,77.614130,13.065662,77.744130,2022-03-02,NaT,2024-09-05 00:05:00,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian,26,Train
425,NaN,NaN,-30.366322,-78.070453,30.496322,78.200453,2022-02-18,NaT,2024-09-05 22:30:00,conditions NaN,NaN,3,Snack,scooter,1,No,Metropolitian,20,Train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11210,NaN,NaN,0.000000,0.000000,0.110000,0.110000,2022-04-04,NaT,2024-09-05 20:45:00,conditions NaN,NaN,3,Meal,motorcycle,0,No,Metropolitian,16,Test
11262,15,1,-11.003008,-76.975440,11.093008,77.065440,2022-03-14,NaT,2024-09-05 19:00:00,conditions NaN,NaN,3,Meal,electric_scooter,1,No,Urban,16,Test
11268,NaN,NaN,21.171060,72.789292,21.251060,72.869292,2022-04-04,NaT,2024-09-05 23:30:00,conditions NaN,NaN,3,Meal,electric_scooter,1,No,NaN,16,Test
11337,NaN,NaN,-19.176269,-72.836721,19.306269,72.966721,2022-03-10,NaT,2024-09-05 18:45:00,conditions NaN,NaN,3,Snack,bicycle,1,No,Metropolitian,16,Test
11396,NaN,NaN,21.157735,72.768778,21.217735,72.828778,2022-03-11,NaT,2024-09-05 21:05:00,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian,16,Test

In [64]:
df["Weatherconditions"].replace("conditions NaN","conditions Sunny",inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/1405540298.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Weatherconditions"].replace("conditions NaN","conditions Sunny",inplace=True)

In [65]:
df["Weatherconditions"].value_counts()

Weatherconditions
conditions Sunny         10033
conditions Fog            9422
conditions Stormy         9397
conditions Cloudy         9397
conditions Sandstorms     9373
conditions Windy          9370
Name: count, dtype: int64

In [66]:
for i in df.columns:
  if df[i].dtypes=="object":
    print(i)
    print(df[i].value_counts())
    print("<<<>>>>"*10)
    print("<<<>>>>"*10)

Delivery_person_Age
Delivery_person_Age
35    2809
30    2805
36    2781
37    2776
38    2770
24    2754
28    2748
32    2747
33    2743
29    2739
22    2718
34    2713
26    2704
21    2702
27    2693
20    2691
25    2681
39    2680
31    2655
23    2628
50      63
15      47
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Delivery_person_Ratings
Delivery_person_Ratings
4.8    8938
4.9    8904
4.7    8865
4.6    8603
5      4995
4.5    4146
4.2    1769
4.3    1750
4.1    1741
4.4    1687
4      1372
3.5     315
3.7     284
3.8     279
3.9     259
3.6     258
6        63
1        47
3.4      44
3.3      38
3.1      37
3.2      36
2.6      34
2.7      29
2.5      28
2.9      26
2.8      22
3         8
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Weatherconditions
Weatherconditions
conditions Sunny         10033
conditions Fog            9422
conditions Stormy         9397
conditions Cloudy         9397
conditions Sandstorms     9373
conditions Windy          9370
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Road_traffic_density
Road_traffic_density
Low        19358
Jam        17646
Medium     13698
High        5535
NaN          755
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Type_of_order
Type_of_order
Snack      14348
Meal       14252
Drinks     14242
Buffet     14150
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Type_of_vehicle
Type_of_vehicle
motorcycle           33044
scooter              19093
electric_scooter      4764
bicycle                 91
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
multiple_deliveries
multiple_deliveries
1    35224
0    17586
2     2498
3      453
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Festival
Festival
No      55600
Yes      1099
NaN       293
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
City
City
Metropolitian     42590
Urban             12669
NaN                1524
Semi-Urban          209
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
label
label
Train    45593
Test     11399
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>

In [67]:
df[df["Road_traffic_density"]=="Low "]

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
2,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,2024-09-05 08:30:00,2024-09-05 08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26,Train
12,34,4.3,30.899584,75.809346,30.919584,75.829346,2022-02-13,2024-09-05 09:20:00,2024-09-05 09:30:00,conditions Sandstorms,Low,0,Buffet,motorcycle,0,No,Metropolitian,20,Train
20,31,4.7,23.357804,85.325146,23.487804,85.455146,2022-03-10,2024-09-05 22:30:00,2024-09-05 22:45:00,conditions Sandstorms,Low,2,Meal,electric_scooter,0,No,Metropolitian,26,Train
21,37,5,11.003669,76.976494,11.013669,76.986494,2022-03-11,2024-09-05 08:15:00,2024-09-05 08:30:00,conditions Sandstorms,Low,1,Snack,motorcycle,1,No,Metropolitian,20,Train
26,35,4.3,21.160522,72.771477,21.250522,72.861477,2022-03-12,2024-09-05 23:20:00,2024-09-05 23:30:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,38,Train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11388,39,4.3,21.149669,72.772629,21.229669,72.852629,2022-03-10,2024-09-05 23:25:00,2024-09-05 23:30:00,conditions Cloudy,Low,0,Snack,motorcycle,1,No,Metropolitian,16,Test
11390,31,5,22.728163,75.884212,22.818163,75.974212,2022-03-12,2024-09-05 22:35:00,2024-09-05 22:50:00,conditions Fog,Low,0,Meal,motorcycle,1,No,Metropolitian,16,Test
11391,26,4.8,0.000000,0.000000,0.060000,0.060000,2022-02-15,2024-09-05 23:10:00,2024-09-05 23:20:00,conditions Cloudy,Low,0,Drinks,motorcycle,0,No,Urban,16,Test
11393,31,4.7,0.000000,0.000000,0.010000,0.010000,2022-02-13,2024-09-05 11:00:00,2024-09-05 11:10:00,conditions Windy,Low,2,Snack,scooter,1,No,Metropolitian,16,Test
11398,39,5,13.081878,80.248519,13.131878,80.298519,2022-03-24,2024-09-05 22:20:00,2024-09-05 22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1,No,Urban,16,Test

In [68]:
df["Road_traffic_density"]=df["Road_traffic_density"].replace("NaN ","Low ")

In [69]:
df["Festival"]=df["Festival"].replace("NaN ","No ")

In [70]:
df["City"]=df["City"].replace("NaN ","Metropolitian ")

In [71]:
for i in df.columns:
  if df[i].dtypes=="object":
    print(i)
    print(df[i].value_counts())
    print("<<<>>>>"*10)
    print("<<<>>>>"*10)

Delivery_person_Age
Delivery_person_Age
35    2809
30    2805
36    2781
37    2776
38    2770
24    2754
28    2748
32    2747
33    2743
29    2739
22    2718
34    2713
26    2704
21    2702
27    2693
20    2691
25    2681
39    2680
31    2655
23    2628
50      63
15      47
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Delivery_person_Ratings
Delivery_person_Ratings
4.8    8938
4.9    8904
4.7    8865
4.6    8603
5      4995
4.5    4146
4.2    1769
4.3    1750
4.1    1741
4.4    1687
4      1372
3.5     315
3.7     284
3.8     279
3.9     259
3.6     258
6        63
1        47
3.4      44
3.3      38
3.1      37
3.2      36
2.6      34
2.7      29
2.5      28
2.9      26
2.8      22
3         8
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Weatherconditions
Weatherconditions
conditions Sunny         10033
conditions Fog            9422
conditions Stormy         9397
conditions Cloudy         9397
conditions Sandstorms     9373
conditions Windy          9370
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Road_traffic_density
Road_traffic_density
Low        20113
Jam        17646
Medium     13698
High        5535
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Type_of_order
Type_of_order
Snack      14348
Meal       14252
Drinks     14242
Buffet     14150
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Type_of_vehicle
Type_of_vehicle
motorcycle           33044
scooter              19093
electric_scooter      4764
bicycle                 91
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
multiple_deliveries
multiple_deliveries
1    35224
0    17586
2     2498
3      453
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
Festival
Festival
No      55893
Yes      1099
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
City
City
Metropolitian     44114
Urban             12669
Semi-Urban          209
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
label
label
Train    45593
Test     11399
Name: count, dtype: int64
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>
<<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>><<<>>>>

In [72]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2024-09-05 11:30:00,2024-09-05 11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,24,Train
1,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,2024-09-05 19:45:00,2024-09-05 19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33,Train
2,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,2024-09-05 08:30:00,2024-09-05 08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26,Train
3,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,2024-09-05 18:00:00,2024-09-05 18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,21,Train
4,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,2024-09-05 13:30:00,2024-09-05 13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,30,Train

In [73]:
df.shape

(56992, 19)

In [74]:
mydf=df.copy()
mydf_train=mydf[mydf["label"]=="Train"]
mydf_test=mydf[mydf["label"]=="Test"]

In [75]:
df=pd.get_dummies(df,columns=categorical_columns)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56992 entries, 0 to 11398
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Delivery_person_Age                      54647 non-null  object
 1   Delivery_person_Ratings                  54577 non-null  object
 2   Restaurant_latitude                      56992 non-null  float64
 3   Restaurant_longitude                     56992 non-null  float64
 4   Delivery_location_latitude               56992 non-null  float64
 5   Delivery_location_longitude              56992 non-null  float64
 6   Order_Date                               56992 non-null  datetime64[ns]
 7   Time_Orderd                              54817 non-null  datetime64[ns]
 8   Time_Order_picked                        56992 non-null  datetime64[ns]
 9   Vehicle_condition                        56992 non-null  int64
 10  multiple_deliveries                      55761 non-null  object
 11  Time_taken(min)                          56992 non-null  int64
 12  label                                    56992 non-null  object
 13  Weatherconditions_conditions Cloudy      56992 non-null  bool
 14  Weatherconditions_conditions Fog         56992 non-null  bool
 15  Weatherconditions_conditions Sandstorms  56992 non-null  bool
 16  Weatherconditions_conditions Stormy      56992 non-null  bool
 17  Weatherconditions_conditions Sunny       56992 non-null  bool
 18  Weatherconditions_conditions Windy       56992 non-null  bool
 19  Road_traffic_density_High                56992 non-null  bool
 20  Road_traffic_density_Jam                 56992 non-null  bool
 21  Road_traffic_density_Low                 56992 non-null  bool
 22  Road_traffic_density_Medium              56992 non-null  bool
 23  Type_of_order_Buffet                     56992 non-null  bool
 24  Type_of_order_Drinks                     56992 non-null  bool
 25  Type_of_order_Meal                       56992 non-null  bool
 26  Type_of_order_Snack                      56992 non-null  bool
 27  Type_of_vehicle_bicycle                  56992 non-null  bool
 28  Type_of_vehicle_electric_scooter         56992 non-null  bool
 29  Type_of_vehicle_motorcycle               56992 non-null  bool
 30  Type_of_vehicle_scooter                  56992 non-null  bool
 31  Festival_No                              56992 non-null  bool
 32  Festival_Yes                             56992 non-null  bool
 33  City_Metropolitian                       56992 non-null  bool
 34  City_Semi-Urban                          56992 non-null  bool
 35  City_Urban                               56992 non-null  bool
dtypes: bool(23), datetime64[ns](3), float64(4), int64(2), object(4)
memory usage: 7.3+ MB

In [77]:
df.shape

(56992, 36)

In [78]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Vehicle_condition,...,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter,Festival_No,Festival_Yes,City_Metropolitian,City_Semi-Urban,City_Urban
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2024-09-05 11:30:00,2024-09-05 11:45:00,2,...,True,False,False,True,False,True,False,False,False,True
1,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,2024-09-05 19:45:00,2024-09-05 19:50:00,2,...,True,False,False,False,True,True,False,True,False,False
2,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,2024-09-05 08:30:00,2024-09-05 08:45:00,0,...,False,False,False,True,False,True,False,False,False,True
3,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,2024-09-05 18:00:00,2024-09-05 18:10:00,0,...,False,False,False,True,False,True,False,True,False,False
4,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,2024-09-05 13:30:00,2024-09-05 13:45:00,1,...,True,False,False,False,True,True,False,True,False,False

In [79]:
def cov(x):
  if x==True:
    return 1
  else:
    return 0

In [80]:
cov(False)

0

In [81]:
df["Festival_No "].apply(cov)

0        1
1        1
2        1
3        1
4        1
        ..
11394    1
11395    1
11396    1
11397    1
11398    1
Name: Festival_No , Length: 56992, dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56992 entries, 0 to 11398
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Delivery_person_Age                      54647 non-null  object
 1   Delivery_person_Ratings                  54577 non-null  object
 2   Restaurant_latitude                      56992 non-null  float64
 3   Restaurant_longitude                     56992 non-null  float64
 4   Delivery_location_latitude               56992 non-null  float64
 5   Delivery_location_longitude              56992 non-null  float64
 6   Order_Date                               56992 non-null  datetime64[ns]
 7   Time_Orderd                              54817 non-null  datetime64[ns]
 8   Time_Order_picked                        56992 non-null  datetime64[ns]
 9   Vehicle_condition                        56992 non-null  int64
 10  multiple_deliveries                      55761 non-null  object
 11  Time_taken(min)                          56992 non-null  int64
 12  label                                    56992 non-null  object
 13  Weatherconditions_conditions Cloudy      56992 non-null  bool
 14  Weatherconditions_conditions Fog         56992 non-null  bool
 15  Weatherconditions_conditions Sandstorms  56992 non-null  bool
 16  Weatherconditions_conditions Stormy      56992 non-null  bool
 17  Weatherconditions_conditions Sunny       56992 non-null  bool
 18  Weatherconditions_conditions Windy       56992 non-null  bool
 19  Road_traffic_density_High                56992 non-null  bool
 20  Road_traffic_density_Jam                 56992 non-null  bool
 21  Road_traffic_density_Low                 56992 non-null  bool
 22  Road_traffic_density_Medium              56992 non-null  bool
 23  Type_of_order_Buffet                     56992 non-null  bool
 24  Type_of_order_Drinks                     56992 non-null  bool
 25  Type_of_order_Meal                       56992 non-null  bool
 26  Type_of_order_Snack                      56992 non-null  bool
 27  Type_of_vehicle_bicycle                  56992 non-null  bool
 28  Type_of_vehicle_electric_scooter         56992 non-null  bool
 29  Type_of_vehicle_motorcycle               56992 non-null  bool
 30  Type_of_vehicle_scooter                  56992 non-null  bool
 31  Festival_No                              56992 non-null  bool
 32  Festival_Yes                             56992 non-null  bool
 33  City_Metropolitian                       56992 non-null  bool
 34  City_Semi-Urban                          56992 non-null  bool
 35  City_Urban                               56992 non-null  bool
dtypes: bool(23), datetime64[ns](3), float64(4), int64(2), object(4)
memory usage: 7.3+ MB

In [83]:
for i in df.columns:
  if df[i].dtypes=="bool":
    df[i]=df[i].apply(cov)

In [84]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Vehicle_condition,...,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter,Festival_No,Festival_Yes,City_Metropolitian,City_Semi-Urban,City_Urban
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2024-09-05 11:30:00,2024-09-05 11:45:00,2,...,1,0,0,1,0,1,0,0,0,1
1,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,2024-09-05 19:45:00,2024-09-05 19:50:00,2,...,1,0,0,0,1,1,0,1,0,0
2,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,2024-09-05 08:30:00,2024-09-05 08:45:00,0,...,0,0,0,1,0,1,0,0,0,1
3,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,2024-09-05 18:00:00,2024-09-05 18:10:00,0,...,0,0,0,1,0,1,0,1,0,0
4,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,2024-09-05 13:30:00,2024-09-05 13:45:00,1,...,1,0,0,0,1,1,0,1,0,0

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56992 entries, 0 to 11398
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Delivery_person_Age                      54647 non-null  object
 1   Delivery_person_Ratings                  54577 non-null  object
 2   Restaurant_latitude                      56992 non-null  float64
 3   Restaurant_longitude                     56992 non-null  float64
 4   Delivery_location_latitude               56992 non-null  float64
 5   Delivery_location_longitude              56992 non-null  float64
 6   Order_Date                               56992 non-null  datetime64[ns]
 7   Time_Orderd                              54817 non-null  datetime64[ns]
 8   Time_Order_picked                        56992 non-null  datetime64[ns]
 9   Vehicle_condition                        56992 non-null  int64
 10  multiple_deliveries                      55761 non-null  object
 11  Time_taken(min)                          56992 non-null  int64
 12  label                                    56992 non-null  object
 13  Weatherconditions_conditions Cloudy      56992 non-null  int64
 14  Weatherconditions_conditions Fog         56992 non-null  int64
 15  Weatherconditions_conditions Sandstorms  56992 non-null  int64
 16  Weatherconditions_conditions Stormy      56992 non-null  int64
 17  Weatherconditions_conditions Sunny       56992 non-null  int64
 18  Weatherconditions_conditions Windy       56992 non-null  int64
 19  Road_traffic_density_High                56992 non-null  int64
 20  Road_traffic_density_Jam                 56992 non-null  int64
 21  Road_traffic_density_Low                 56992 non-null  int64
 22  Road_traffic_density_Medium              56992 non-null  int64
 23  Type_of_order_Buffet                     56992 non-null  int64
 24  Type_of_order_Drinks                     56992 non-null  int64
 25  Type_of_order_Meal                       56992 non-null  int64
 26  Type_of_order_Snack                      56992 non-null  int64
 27  Type_of_vehicle_bicycle                  56992 non-null  int64
 28  Type_of_vehicle_electric_scooter         56992 non-null  int64
 29  Type_of_vehicle_motorcycle               56992 non-null  int64
 30  Type_of_vehicle_scooter                  56992 non-null  int64
 31  Festival_No                              56992 non-null  int64
 32  Festival_Yes                             56992 non-null  int64
 33  City_Metropolitian                       56992 non-null  int64
 34  City_Semi-Urban                          56992 non-null  int64
 35  City_Urban                               56992 non-null  int64
dtypes: datetime64[ns](3), float64(4), int64(25), object(4)
memory usage: 16.1+ MB

In [86]:
df.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Vehicle_condition,...,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter,Festival_No,Festival_Yes,City_Metropolitian,City_Semi-Urban,City_Urban
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2024-09-05 11:30:00,2024-09-05 11:45:00,2,...,1,0,0,1,0,1,0,0,0,1

In [87]:
df["Time_Orderd"].dt.minute

0        30.0
1        45.0
2        30.0
3         0.0
4        30.0
         ...
11394    35.0
11395    40.0
11396     NaN
11397    35.0
11398    20.0
Name: Time_Orderd, Length: 56992, dtype: float64

In [88]:
df["day"]=df["Order_Date"].dt.day
df["month"]=df["Order_Date"].dt.month
df["year"]=df["Order_Date"].dt.year

In [89]:
df["Time_Orderd_hour"]=df["Time_Orderd"].dt.hour
df["Time_Orderd_minute"]=df["Time_Orderd"].dt.minute

In [90]:
df["Time_Order_picked_hour"]=df["Time_Order_picked"].dt.hour
df["Time_Order_picked_minute"]=df["Time_Order_picked"].dt.minute

In [91]:
df.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Vehicle_condition,...,City_Metropolitian,City_Semi-Urban,City_Urban,day,month,year,Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2024-09-05 11:30:00,2024-09-05 11:45:00,2,...,0,0,1,19,3,2022,11.0,30.0,11,45

In [92]:
df.drop(["Order_Date","Time_Orderd","Time_Order_picked"],axis=1,inplace=True)

In [93]:
df.shape

(56992, 40)

In [94]:
df.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken(min),label,...,City_Metropolitian,City_Semi-Urban,City_Urban,day,month,year,Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2,0,24,Train,...,0,0,1,19,3,2022,11.0,30.0,11,45

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56992 entries, 0 to 11398
Data columns (total 40 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Delivery_person_Age                      54647 non-null  object
 1   Delivery_person_Ratings                  54577 non-null  object
 2   Restaurant_latitude                      56992 non-null  float64
 3   Restaurant_longitude                     56992 non-null  float64
 4   Delivery_location_latitude               56992 non-null  float64
 5   Delivery_location_longitude              56992 non-null  float64
 6   Vehicle_condition                        56992 non-null  int64
 7   multiple_deliveries                      55761 non-null  object
 8   Time_taken(min)                          56992 non-null  int64
 9   label                                    56992 non-null  object
 10  Weatherconditions_conditions Cloudy      56992 non-null  int64
 11  Weatherconditions_conditions Fog         56992 non-null  int64
 12  Weatherconditions_conditions Sandstorms  56992 non-null  int64
 13  Weatherconditions_conditions Stormy      56992 non-null  int64
 14  Weatherconditions_conditions Sunny       56992 non-null  int64
 15  Weatherconditions_conditions Windy       56992 non-null  int64
 16  Road_traffic_density_High                56992 non-null  int64
 17  Road_traffic_density_Jam                 56992 non-null  int64
 18  Road_traffic_density_Low                 56992 non-null  int64
 19  Road_traffic_density_Medium              56992 non-null  int64
 20  Type_of_order_Buffet                     56992 non-null  int64
 21  Type_of_order_Drinks                     56992 non-null  int64
 22  Type_of_order_Meal                       56992 non-null  int64
 23  Type_of_order_Snack                      56992 non-null  int64
 24  Type_of_vehicle_bicycle                  56992 non-null  int64
 25  Type_of_vehicle_electric_scooter         56992 non-null  int64
 26  Type_of_vehicle_motorcycle               56992 non-null  int64
 27  Type_of_vehicle_scooter                  56992 non-null  int64
 28  Festival_No                              56992 non-null  int64
 29  Festival_Yes                             56992 non-null  int64
 30  City_Metropolitian                       56992 non-null  int64
 31  City_Semi-Urban                          56992 non-null  int64
 32  City_Urban                               56992 non-null  int64
 33  day                                      56992 non-null  int32
 34  month                                    56992 non-null  int32
 35  year                                     56992 non-null  int32
 36  Time_Orderd_hour                         54817 non-null  float64
 37  Time_Orderd_minute                       54817 non-null  float64
 38  Time_Order_picked_hour                   56992 non-null  int32
 39  Time_Order_picked_minute                 56992 non-null  int32
dtypes: float64(6), int32(5), int64(25), object(4)
memory usage: 16.7+ MB

As Now All the Fields are ready for the model Trainnig now we can train the model

In [97]:
train_data=df[df["label"]=="Train"]

In [98]:
train_data.drop("label",axis=1,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/2859048965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop("label",axis=1,inplace=True)

In [99]:
test_data=df[df["label"]=="Test"]

In [100]:
test_data.drop("label",axis=1,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/1200657103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data.drop("label",axis=1,inplace=True)

In [101]:
train_data.shape

(45593, 39)

In [102]:
test_data.shape

(11399, 39)

In [103]:
train_data.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken(min),Weatherconditions_conditions Cloudy,...,City_Metropolitian,City_Semi-Urban,City_Urban,day,month,year,Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2,0,24,0,...,0,0,1,19,3,2022,11.0,30.0,11,45

In [104]:
### Standard Scalization

In [105]:
mydf_train

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),label
0,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2024-09-05 11:30:00,2024-09-05 11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,24,Train
1,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,2024-09-05 19:45:00,2024-09-05 19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33,Train
2,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,2024-09-05 08:30:00,2024-09-05 08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26,Train
3,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,2024-09-05 18:00:00,2024-09-05 18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,21,Train
4,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,2024-09-05 13:30:00,2024-09-05 13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,30,Train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,30,4.8,26.902328,75.794257,26.912328,75.804257,2022-03-24,2024-09-05 11:35:00,2024-09-05 11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,32,Train
45589,21,4.6,0.000000,0.000000,0.070000,0.070000,2022-02-16,2024-09-05 19:55:00,2024-09-05 20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,36,Train
45590,30,4.9,13.022394,80.242439,13.052394,80.272439,2022-03-11,2024-09-05 23:50:00,2024-09-05 00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,16,Train
45591,20,4.7,11.001753,76.986241,11.041753,77.026241,2022-03-07,2024-09-05 13:35:00,2024-09-05 13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,26,Train
45592,23,4.9,23.351058,85.325731,23.431058,85.405731,2022-03-02,2024-09-05 17:10:00,2024-09-05 17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,36,Train

In [106]:
mydf_train.drop("label",axis=1,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/3159398311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_train.drop("label",axis=1,inplace=True)

In [107]:
mydf_test['Time_taken(min)'].value_counts()

Time_taken(min)
16    11399
Name: count, dtype: int64

In [108]:
num_features=mydf_train.select_dtypes([float,int]).columns
cat_features=mydf_train.select_dtypes(object).columns

In [109]:
num_features

Index(['Restaurant_latitude', 'Restaurant_longitude',
       'Delivery_location_latitude', 'Delivery_location_longitude',
       'Vehicle_condition', 'Time_taken(min)'],
      dtype='object')

In [110]:
cat_features

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Weatherconditions',
       'Road_traffic_density', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City'],
      dtype='object')

In [111]:
mydf_train.shape

(45593, 18)

In [112]:
print(len(num_features))
print(len(cat_features))

6
9

In [113]:
mydf_train["day"]=mydf_train["Order_Date"].dt.day
mydf_train["month"]=mydf_train["Order_Date"].dt.month
mydf_train["year"]=mydf_train["Order_Date"].dt.year

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/837205596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_train["day"]=mydf_train["Order_Date"].dt.day
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/837205596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_train["month"]=mydf_train["Order_Date"].dt.month
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/837205596.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_train["year"]=mydf_train["Order_Date"].dt.year

In [114]:
mydf_train["Time_Orderd_hour"]=mydf_train["Time_Orderd"].dt.hour
mydf_train["Time_Orderd_minute"]=mydf_train["Time_Orderd"].dt.minute

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/2357095131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_train["Time_Orderd_hour"]=mydf_train["Time_Orderd"].dt.hour
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/2357095131.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_train["Time_Orderd_minute"]=mydf_train["Time_Orderd"].dt.minute

In [115]:
mydf_train["Time_Order_picked_hour"]=mydf_train["Time_Order_picked"].dt.hour
mydf_train["Time_Order_picked_minute"]=mydf_train["Time_Order_picked"].dt.minute

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/3323816290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_train["Time_Order_picked_hour"]=mydf_train["Time_Order_picked"].dt.hour
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/3323816290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_train["Time_Order_picked_minute"]=mydf_train["Time_Order_picked"].dt.minute

In [116]:
mydf_train.drop(["Order_Date","Time_Orderd","Time_Order_picked"],axis=1,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/919097466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_train.drop(["Order_Date","Time_Orderd","Time_Order_picked"],axis=1,inplace=True)

In [117]:
mydf_train.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,Festival,City,Time_taken(min),day,month,year,Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute
0,37,4.9,22.745049,75.892471,22.765049,75.912471,conditions Sunny,High,2,Snack,...,No,Urban,24,19,3,2022,11.0,30.0,11,45

In [118]:
num_features=mydf_train.select_dtypes([float,int]).columns
cat_features=mydf_train.select_dtypes(object).columns

In [119]:
print(len(num_features))
print(len(cat_features))

13
9

In [120]:
mydf_test['Order_Date']=pd.to_datetime(mydf_test['Order_Date'])
mydf_test['Time_Orderd']=pd.to_datetime(mydf_test['Time_Orderd'])
mydf_test['Time_Order_picked']=pd.to_datetime(mydf_test['Time_Order_picked'])

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/1695708244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test['Order_Date']=pd.to_datetime(mydf_test['Order_Date'])
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/1695708244.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test['Time_Orderd']=pd.to_datetime(mydf_test['Time_Orderd'])
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/1695708244.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test['Time_Order_picked']=pd.to_datetime(mydf_test['Time_Order_picked'])

In [121]:
mydf_test["day"]=mydf_test["Order_Date"].dt.day
mydf_test["month"]=mydf_test["Order_Date"].dt.month
mydf_test["year"]=mydf_test["Order_Date"].dt.year

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/4226157047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test["day"]=mydf_test["Order_Date"].dt.day
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/4226157047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test["month"]=mydf_test["Order_Date"].dt.month
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/4226157047.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test["year"]=mydf_test["Order_Date"].dt.year

In [122]:
mydf_test["Time_Order_picked_hour"]=mydf_test["Time_Order_picked"].dt.hour
mydf_test["Time_Order_picked_minute"]=mydf_test["Time_Order_picked"].dt.minute

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/2048484535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test["Time_Order_picked_hour"]=mydf_test["Time_Order_picked"].dt.hour
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/2048484535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test["Time_Order_picked_minute"]=mydf_test["Time_Order_picked"].dt.minute

In [123]:
mydf_test["Time_Orderd_hour"]=mydf_test["Time_Orderd"].dt.hour
mydf_test["Time_Orderd_minute"]=mydf_test["Time_Orderd"].dt.minute

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/120097505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test["Time_Orderd_hour"]=mydf_test["Time_Orderd"].dt.hour
/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/120097505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test["Time_Orderd_minute"]=mydf_test["Time_Orderd"].dt.minute

In [124]:
mydf_test.drop(["Order_Date","Time_Orderd","Time_Order_picked"],axis=1,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/2774957753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test.drop(["Order_Date","Time_Orderd","Time_Order_picked"],axis=1,inplace=True)

In [125]:
mydf_test.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,City,Time_taken(min),label,day,month,year,Time_Order_picked_hour,Time_Order_picked_minute,Time_Orderd_hour,Time_Orderd_minute
0,NaN,NaN,11.003669,76.976494,11.043669,77.016494,conditions Sunny,Low,3,Drinks,...,Metropolitian,16,Test,30,3,2022,15,5,NaN,NaN

In [126]:
print(mydf_train.shape)
print(mydf_test.shape)

(45593, 22)
(11399, 23)

In [127]:
mydf_test.drop("label",axis=1,inplace=True)

/var/folders/sn/kf4x3ygj0tg81pp8_fswhmp00000gn/T/ipykernel_45891/547505594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf_test.drop("label",axis=1,inplace=True)

In [128]:
mydf_test.shape

(11399, 22)

In [129]:
mydf_train.shape

(45593, 22)

In [130]:
mydf_train.head(1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,Festival,City,Time_taken(min),day,month,year,Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute
0,37,4.9,22.745049,75.892471,22.765049,75.912471,conditions Sunny,High,2,Snack,...,No,Urban,24,19,3,2022,11.0,30.0,11,45

In [131]:
mydf_train.columns

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Weatherconditions',
       'Road_traffic_density', 'Vehicle_condition', 'Type_of_order',
       'Type_of_vehicle', 'multiple_deliveries', 'Festival', 'City',
       'Time_taken(min)', 'day', 'month', 'year', 'Time_Orderd_hour',
       'Time_Orderd_minute', 'Time_Order_picked_hour',
       'Time_Order_picked_minute'],
      dtype='object')

In [132]:
y=mydf_train['Time_taken(min)']

In [133]:
y

0        24
1        33
2        26
3        21
4        30
         ..
45588    32
45589    36
45590    16
45591    26
45592    36
Name: Time_taken(min), Length: 45593, dtype: int64

In [134]:
x=mydf_train.drop("Time_taken(min)",axis=1)

In [135]:
x

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,multiple_deliveries,Festival,City,day,month,year,Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute
0,37,4.9,22.745049,75.892471,22.765049,75.912471,conditions Sunny,High,2,Snack,...,0,No,Urban,19,3,2022,11.0,30.0,11,45
1,34,4.5,12.913041,77.683237,13.043041,77.813237,conditions Stormy,Jam,2,Snack,...,1,No,Metropolitian,25,3,2022,19.0,45.0,19,50
2,23,4.4,12.914264,77.678400,12.924264,77.688400,conditions Sandstorms,Low,0,Drinks,...,1,No,Urban,19,3,2022,8.0,30.0,8,45
3,38,4.7,11.003669,76.976494,11.053669,77.026494,conditions Sunny,Medium,0,Buffet,...,1,No,Metropolitian,5,4,2022,18.0,0.0,18,10
4,32,4.6,12.972793,80.249982,13.012793,80.289982,conditions Cloudy,High,1,Snack,...,1,No,Metropolitian,26,3,2022,13.0,30.0,13,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,30,4.8,26.902328,75.794257,26.912328,75.804257,conditions Windy,High,1,Meal,...,0,No,Metropolitian,24,3,2022,11.0,35.0,11,45
45589,21,4.6,0.000000,0.000000,0.070000,0.070000,conditions Windy,Jam,0,Buffet,...,1,No,Metropolitian,16,2,2022,19.0,55.0,20,10
45590,30,4.9,13.022394,80.242439,13.052394,80.272439,conditions Cloudy,Low,1,Drinks,...,0,No,Metropolitian,11,3,2022,23.0,50.0,0,5
45591,20,4.7,11.001753,76.986241,11.041753,77.026241,conditions Cloudy,High,0,Snack,...,1,No,Metropolitian,7,3,2022,13.0,35.0,13,40
45592,23,4.9,23.351058,85.325731,23.431058,85.405731,conditions Fog,Medium,2,Snack,...,1,No,Metropolitian,2,3,2022,17.0,10.0,17,15

In [136]:
mydf_test.columns

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Weatherconditions',
       'Road_traffic_density', 'Vehicle_condition', 'Type_of_order',
       'Type_of_vehicle', 'multiple_deliveries', 'Festival', 'City',
       'Time_taken(min)', 'day', 'month', 'year', 'Time_Order_picked_hour',
       'Time_Order_picked_minute', 'Time_Orderd_hour', 'Time_Orderd_minute'],
      dtype='object')

In [137]:
num_features=mydf_train.select_dtypes([float,int]).columns
cat_features=mydf_train.select_dtypes(object).columns

In [138]:
##Importing the important libraries for the prediction
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [139]:
num_pipeline=Pipeline(steps=[(
    "imputer",SimpleImputer(strategy="median")),
    ("sacaler",StandardScaler())
])

In [140]:
cat_pipeline=Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ("scaler",OneHotEncoder())
])

In [141]:
num_pipeline

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('sacaler', StandardScaler())])

In [142]:
cat_pipeline

Pipeline(steps=[('imputer', SimpleImputer(strategy='most_frequent')),
                ('scaler', OneHotEncoder())])

In [143]:
Preprocessor=ColumnTransformer([
    ("num_pipeline",num_pipeline,num_features),
    ("cat_pipeline",cat_pipeline,cat_features)
])

In [144]:
Preprocessor

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('sacaler',
                                                  StandardScaler())]),
                                 Index(['Restaurant_latitude', 'Restaurant_longitude',
       'Delivery_location_latitude', 'Delivery_location_longitude',
       'Vehicle_condition', 'Time_taken(min)', 'day', 'month', 'year',
       'Time_Orderd_hour', 'Time_Orderd_minute',...,
       'Time_Order_picked_minute'],
      dtype='object')),
                                ('cat_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('scaler', OneHotEncoder())]),
                                 Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Weatherconditions',
       'Road_traffic_density', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City'],
      dtype='object'))])

In [145]:
Preprocessor=Preprocessor.fit(mydf_train)

In [146]:
Preprocessor

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('sacaler',
                                                  StandardScaler())]),
                                 Index(['Restaurant_latitude', 'Restaurant_longitude',
       'Delivery_location_latitude', 'Delivery_location_longitude',
       'Vehicle_condition', 'Time_taken(min)', 'day', 'month', 'year',
       'Time_Orderd_hour', 'Time_Orderd_minute',...,
       'Time_Order_picked_minute'],
      dtype='object')),
                                ('cat_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('scaler', OneHotEncoder())]),
                                 Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Weatherconditions',
       'Road_traffic_density', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City'],
      dtype='object'))])

In [147]:
import pickle

In [148]:
with open("Preprocessor.pkl","wb") as f:
  pickle.dump(Preprocessor,f)

In [149]:
Preprocessor.transform(mydf_train).toarray()

array([[ 0.69973208,  0.24739067,  0.7225403 , ...,  0.        ,
         0.        ,  1.        ],
       [-0.50148783,  0.3256468 , -0.60287932, ...,  1.        ,
         0.        ,  0.        ],
       [-0.50133841,  0.32543542, -0.61907241, ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [-0.48812769,  0.43748343, -0.60160421, ...,  1.        ,
         0.        ,  0.        ],
       [-0.73499834,  0.2951882 , -0.87571867, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.77377088,  0.65962231,  0.81333856, ...,  1.        ,
         0.        ,  0.        ]])